<!DOCTYPE html>
<html lang="br">

<head>
	<title>SisTech - TechGold</title>
	<link rel="shortcut icon" href="assets/img/favicon.ico">
	<link rel="stylesheet" href="assets/css/defaultStyle.css">
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
</head>

<body>
	<div class="container-fluid">
		<br />
		<!-- ############################################## BARRA DE NAVEGAÇÃO ################################################### -->
		<nav class="navbar navbar-expand-lg bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="/sistech/home"><img src="./assets/img/key.png" style="height: 18px;"> SisTech</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"> </span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="/sistech/home">Início</a>
						</li>
						
							<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
								aria-expanded="false">
								Solicitações
							</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="/sistech/solicitacao/form">Novo</a></li>
								<li><a class="dropdown-item" href="/sistech/solicitacao/list">Listar</a></li>
								<li>
									<hr class="dropdown-divider">
								</li>
									<li><a class="dropdown-item" href="/sistech/solicitacao/modelos">Modelos</a></li>	
								<li>
									<hr class="dropdown-divider">
								</li>
								<li><a class="dropdown-item" href="/sistech/solicitacao/relatorios">Relatórios</a></li>
							</ul>
						</li>
						
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
								aria-expanded="false">
								Clientes
							</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="/sistech/cliente/list">Listar</a></li>
								<li><a class="dropdown-item" href="/sistech/cliente/form">Novo</a></li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
								aria-expanded="false">
								Funcionarios
							</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="/sistech/funcionario/list">Listar</a></li>
								<li><a class="dropdown-item" href="/sistech/funcionario/form">Novo</a></li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
								aria-expanded="false">
								Dashboard
							</a>
							<ul class="dropdown-menu">
								<li>
									<a class="dropdown-item" href="/sistech/solicitacao/dashboard/geral">Solicitações ativas</a></li>
									<a class="dropdown-item" href="/sistech/solicitacao/dashboard/funcionario">Funcionario</a></li>
									<a class="dropdown-item" href="/sistech/solicitacao/dashboard/cliente">Cliente</a></li>
							</ul>
						</li>
					</ul>
					<ul class="navbar-nav mb-3 mb-lg-0">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" id="perfil" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> </a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="/sistech/funcionario/perfil">Perfil</a></li>
								<li>
									<hr class="dropdown-divider">
								</li>
								<li><a class="dropdown-item" href="/sistech/logAcesso">Logs Acesso</a></li>
								<li><a class="dropdown-item" href="/sistech/configuracoes">Configurações</a></li><li>
								<li>
									<hr class="dropdown-divider">
								</li>
								<li><a class="dropdown-item" href="/sistech/sobre">Sobre</a></li>
							</ul>
						</li>
							<a href="/sistech/logout">
								<i class="bi bi-power"style="font-size: 2rem; color: cornflowerblue;"> </i>
							</a>
					</ul>
				</div>
			</div>
		</nav>
		<!-- ############################################## BARRA DE NAVEGAÇÃO ################################################### -->

		<hr class="bg-danger border-2 border-top border-danger">
		 	
			<div class="container" >
			
			<div class="row">
				<div class="col-md-6">
					<div class="table-responsive">
						<table class="table table-hover table-bordered results sortable" id="tabela-modelos" style="text-align: center;">
							<thead>
								<tr class="table-primary">
									<th scope="col">ID</th>
									<th scope="col">Aviso</th>
								</tr>
							</thead>
							<tbody id="corpoAvisos">
								<tr>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				
				<div class="col-md-3">
					<button class="btn btn-sm btn-success" onclick="limparModalNovo()" data-bs-toggle="modal" data-bs-target="#addAvisoModal"> Incluir</button>
				</div>
			</div>
			<p><b>Os Avisos serão alertados na barra de menus na home page para todos os usuários.</b></p>
			</div>
		
		<br/><br/>
		<br/><br/>
		<footer class="text-center text-white">
			<div class="container-fluid">
				<!-- Grid container -->
			<div class="p-4 pb-0">
				<!-- Section: Social media -->
				<section class="mb-4">
					<a class="btn btn-primary btn-floating m-1" style="background-color: rgb(0,191,255);" href="#!"
							role="button"></a>
						<a class="btn btn-primary btn-floating m-1" style="background-color: rgb(30,144,255);" href="#!"
							role="button"></a>
						<a class="btn btn-primary btn-floating m-1" style="background-color: rgb(65,105,225);" href="#!"
							role="button"></a>
						<a class="btn btn-primary btn-floating m-1" style="background-color: rgb(0,0,255);" href="#!"
							role="button"></a>
						<a class="btn btn-primary btn-floating m-1" style="background-color: rgb(0,0,205);" href="#!"
							role="button"></a>
						<a class="btn btn-primary btn-floating m-1" style="background-color: rgb(0,0,128);" href="#!"
							role="button"></a>
				</section>
				<!-- Section: Social media -->
			</div>
			<!-- Grid container -->

			<!-- Copyright -->
			<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
				© 2024 Copyright:
				<a class="text-white" href="#">TechGold</a>
			</div>
			<!-- Copyright -->
			</footer>
		</footer>
	</div>
	
	<!-- ###################################### MODAL EDIÇÃO DE AVISO ############################################# -->
		<div class="modal fade" id="editarAvisoModal" tabindex="-1" aria-labelledby="editarAvisoModal"
			aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="editarAvisoModal">Edição do aviso</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-md-4">
								<label class="form-label" for="idAvisoEdicaoModal">ID</label>
								<input type="text" id="idAvisoEdicaoModal" class="form-control" readonly>
							</div>

							<div class="col-md-8 ms-auto"> </div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<label class="form-label mt-2" for="avisoEdicaoModal"><b>Conteúdo</b></label>
								<textarea class="form-control" rows="5" id="avisoEdicaoModal" name="avisavisoEdicaoModaloAddmodal" type="text" 
								onkeyup="limiteTextoAvisoEdicao(this.value)" class="input-xlarge" required></textarea>
								<span id="contAvisoEdicao" style="padding-left: 10px">300</span> Restantes <br>
							</div>
						</div>
					</div>
					
					<div class="modal-footer">
						<button class="btn btn-danger btn-sm" onclick=excluir()><i class="bi bi-trash"></i></button>
						<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#editarAvisoModal">Fechar</button>
						<button type="button" class="btn btn-primary" onclick="atualizarAviso()">Salvar</button>
					</div>
				</div>
			</div>
		</div>
	<!-- ###################################### MODAL EDIÇÃO DE AVISO ############################################# -->
	<!-- ####################################### MODAL ADICIONA AVISO ############################################# -->
		<div class="modal fade" id="addAvisoModal" tabindex="-1" aria-labelledby="addAvisoModal"
			aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="addAvisoModal">Adicione um novo aviso</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<label class="form-label mt-2" for="avisoAddmodal">Conteúdo</label>
						<textarea class="form-control" rows="5" id="avisoAddmodal" name="avisoAddmodal" type="text"
							placeholder="Descreva o aviso" onkeyup="limiteTextoAvisoNovo(this.value)" class="input-xlarge" required></textarea>
						<span id="contAvisoNovo" style="padding-left: 10px">300</span> Restantes
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-bs-target="#addAvisoModal">Fechar</button>
						<button type="button" class="btn btn-primary" onclick="adicionar()">Salvar</button>
					</div>
				</div>
			</div>
		</div>
		<!-- ####################################### MODAL ADICIONA AVISO ############################################# -->
	<script src="assets/js/jquery-3.6.3.js"></script>
	<script src="assets/js/popper.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/chart.js"></script>
	<script>
		$(document).ready(function () {
			listarAvisos();
		});
		
		function limparModalNovo(){
			var aviso = $('#avisoAddmodal').val("");
		}
		
		function adicionar(){
			var aviso = $('#avisoAddmodal').val();
			$.ajax({
				type: "POST",
				contentType: "application/json",
				url: "/sistech/api/v1/avisos",
				data: JSON.stringify({
					"aviso": aviso
				}),
				success: function (data) {
					
					var itens = 
						'<tr '+ status + ' id=linha' + data.id + ' data-bs-toggle="modal" data-bs-target="#editarAvisoModal" onclick=editar(' + data.id + ')>'
						+'<td id=name' + data.id + '>' + data.id + '</td>'
						+'<td>' + data.aviso + '</td>'
						+'</tr>'
					$('#corpoAvisos').append(itens);
					$('#addAvisoModal').modal('hide');
					alert("Criado com sucesso");
				},
				statusCode: {
				    500: function() { alert('Erro! Contate o desenvolvedor!'); },
				    401: function() { alert('Realize login novamente!'); }
				}
			});
		}
		
		function listarAvisos(){
			$.ajax({
				url: "/sistech/api/v1/avisos",
				type: "GET",
				success: function (data) {
					
					data.map(i => {
						var itens = 
						'<tr '+ status + ' id=linha' + i.id + ' data-bs-toggle="modal" data-bs-target="#editarAvisoModal" onclick=editar(' + i.id + ')>'
						+ '<td id=name' + i.id + '>' + i.id + '</td>'
						+ '<td>' + i.aviso + '</td>'
						+ '</tr>'
						$('#corpoAvisos').append(itens);
					});
				},
				statusCode: {
				    500: function() { alert('Erro! Contate o desenvolvedor!'); },
				    401: function() { alert('Realize login novamente!'); }
				}
			});
		}
		
		function editar(id){
			
			$.ajax({
				url: "/sistech/api/v1/avisos/"+id,
				type: "GET",
				success: function (data) {
					$('#idAvisoEdicaoModal').val(data.id);
					$('#avisoEdicaoModal').val(data.aviso);
				},
				statusCode: {
				    500: function() { alert('Erro! Contate o desenvolvedor!'); },
				    401: function() { alert('Realize login novamente!'); }
				}
			});
		}
		
		function atualizarAviso(){
			var id = $('#idAvisoEdicaoModal').val();
			var aviso = $('#avisoEdicaoModal').val();
			
			$.ajax({
				type: "PUT",
				contentType: "application/json",
				url: "/sistech/api/v1/avisos",
				data: JSON.stringify({
					"id": id,
					"aviso": aviso
				}),
				success: function (data) {
					$('#linha' + data.id).remove();
					
					var itens = 
						'<tr '+ status + ' id=linha' + data.id + ' data-bs-toggle="modal" data-bs-target="#editarAvisoModal" onclick=editar(' + data.id + ')>'
						+ '<td id=name' + data.id + '>' + data.id + '</td>'
						+ '<td>' + data.aviso + '</td>'
						+ '</tr>'
					$('#corpoAvisos').append(itens);
					$('#editarAvisoModal').modal('hide');
					alert("atualizado com sucesso");
				},
				statusCode: {
				    500: function() { alert('Erro! Contate o desenvolvedor!'); },
				    401: function() { alert('Realize login novamente!'); }
				}
			});
		}
		
		function excluir(){
			var id = $('#idAvisoEdicaoModal').val();
			var t = "#linha" + id;
			var remove = $(t).closest('tr');
			$.ajax({
				url: "/sistech/api/v1/avisos/"+id,
				type: "DELETE",
				success: function (data) {
					remove.fadeOut(800, function () {
						remove.remove();
					});
					$('#editarAvisoModal').modal('hide');
				},
				statusCode: {
				    500: function() { alert('Erro! Contate o desenvolvedor!'); },
				    401: function() { alert('Realize login novamente!'); }
				}
			})
		}
		
		function limiteTextoAvisoNovo(valor) {
			quant = 300;
			total = valor.length;
			if (total <= quant) {
				resto = quant - total;
				document.getElementById('contAvisoNovo').innerHTML = resto;
			} else {
				document.getElementById('contAvisoNovo').value = valor.substr(0, quant);
			}
		}
		
		function limiteTextoAvisoEdicao(valor) {
			quant = 300;
			total = valor.length;
			if (total <= quant) {
				resto = quant - total;
				document.getElementById('contAvisoEdicao').innerHTML = resto;
			} else {
				document.getElementById('contAvisoEdicao').value = valor.substr(0, quant);
			}
		}
	</script>
</body>
</html>