<!DOCTYPE html>
<html lang="br">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="assets/img/favicon.ico">
	<link rel="stylesheet" href="assets/css/defaultStyle.css">
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/password-generator.css">
	<link rel="stylesheet" href="assets/css/bootstrap-icons.min.css">
	<title>SisTech - Configurações</title>
</head>
<body>
	<div class="container-fluid">
		<br />
		<!-- ############################################## BARRA DE NAVEGAÇÃO ################################################### -->
		<nav class="navbar navbar-expand-lg bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="/sistech/home"><img src="./assets/img/key.png" style="height: 18px;"> SisTech</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="/sistech/home">Início</a>
						</li>
						
							<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
								aria-expanded="false">
								Solicitações
							</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="/sistech/solicitacao/form">Novo</a></li>
								<li><a class="dropdown-item" href="/sistech/solicitacao/list">Listar</a></li>
								<li>
									<hr class="dropdown-divider">
								</li>
									<li><a class="dropdown-item" href="/sistech/solicitacao/modelos">Modelos</a></li>	
								<li>
									<hr class="dropdown-divider">
								</li>
								<li><a class="dropdown-item" href="/sistech/solicitacao/relatorios">Relatórios</a></li>
							</ul>
						</li>
						
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
								aria-expanded="false">
								Clientes
							</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="/sistech/cliente/list">Listar</a></li>
								<li><a class="dropdown-item" href="/sistech/cliente/form">Novo</a></li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
								aria-expanded="false">
								Funcionarios
							</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="/sistech/funcionario/list">Listar</a></li>
								<li><a class="dropdown-item" href="/sistech/funcionario/form">Novo</a></li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
								aria-expanded="false">
								Dashboard
							</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="/sistech/solicitacao/dashboard/geral">Solicitações ativas</a></li>
								<li><a class="dropdown-item" href="/sistech/solicitacao/dashboard/funcionario">Funcionario</a></li>
								<li><a class="dropdown-item" href="/sistech/solicitacao/dashboard/cliente">Cliente</a></li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Ferramentas</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modalPasswordGenerator">Password Generator</a></li>
								<li><a class="dropdown-item" href="/sistech/avisos">Avisos</a></li>
							</ul>
						</li>
					</ul>
					<ul class="navbar-nav mb-3 mb-lg-0">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" id="perfil" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="/sistech/funcionario/perfil">Perfil</a></li>
								<li>
									<hr class="dropdown-divider">
								</li>
								<li><a class="dropdown-item" href="/sistech/logAcesso">Logs Acesso</a></li>
								<li><a class="dropdown-item" href="/sistech/configuracoes">Configurações</a></li><li>
								<li>
									<hr class="dropdown-divider">
								</li>
								<li><a class="dropdown-item" href="/sistech/sobre">Sobre</a></li>
							</ul>
						</li>
							<a href="/sistech/logout">
								<i class="bi bi-power"style="font-size: 2rem; color: red;"> </i>
							</a>
					</ul>
				</div>
			</div>
		</nav>
		<!-- ############################################## BARRA DE NAVEGAÇÃO ################################################### -->

		<hr class="bg-danger border-2 border-top border-danger">
		<br/>
			<h4>Configurações</h4>
			
			<table width="610" border="0" bordercolor="#B9B3B3" cellspacing="0" cellpadding="4">
	              <tbody>
	                <tr>
	                  <td width="30" height="86" align="center" bordercolor="#FFFFFF" bgcolor="lightblue" style="border-style:none" ><b>Países permitodos para login</b></td>
	                  <td width="26"  style="border-right-style:none">
		                  <label>
		                  	<input type="checkbox" name="BR" id="BR" value="BR" disabled> BR
		                  </label><br>
		                  <label>
		                  	<input type="checkbox" name="US" id="US"  value="US"> US
		                  </label><br>
		                  <label>
		                  	<input type="checkbox" name="PT" id="PT"  value="PT"> PT
		                  </label>
	                  </td>
	                      
	                  <td width="114" style="border-left-style:none">
	                    <label>
		                  	<input type="checkbox" name="CA" id="CA"  value="CA"> CA
		                 </label><br>
		                 <label>
		                  	<input type="checkbox" name="FR" id="FR"  value="FR"> FR
		                 </label><br>
		                 <label>
		                  	<input type="checkbox" name="CL" id="CL"  value="CL"> CL
		                 </label>
	                  </td>
	                  </tr>
	              </tbody>
	        </table><br/>
            <button class="btn btn-primary btn-sm" onclick="salvarPaisesPermitidos()">Salvar</button>
            <br />
            <hr class="bg-danger border-2 border-top border-danger">
            <br />
            <h5>Configurações para envio de alertas e agendamentos</h5><br />
            <div class="table-responsive">
	            <table class="table" style="text-align: center;">
					<tbody>
						<thead>
							<tr>
								<th>ID</th>
								<th>Descrição</th>
								<th>Status</th>
								<th>Função</th>
								<th>Email</th>
							</tr>
						</thead>
							<tr>
								<td><input class="form-control mt-2" type="number" name="idAGENDAMENTO" id="idAGENDAMENTO" style="width: 50px;" readonly></td>
								<td><b>Email para envios automáticos de agendamentos</b>
									<p style="font-size: 14px;">* Agendamentos do dia às 9h e 17h (seg-sex)</p>
									<p style="font-size: 14px;">* Resumo de solicitações às 17:30h (seg-sex)</p>
									<p style="font-size: 14px;">* Pause das solicitações em andamento às 18:20h (seg-sex)</p>
									<p style="font-size: 14px;">* Agendamentos do proximo dia às 18:30h (seg-sex)</p>
									<p style="font-size: 14px;">* Agendamentos atrasados às 8:40h e 18:40h (seg-sex)</p>
								</td>
								<td><input type="checkbox" name="statusAGENDAMENTO" id="statusAGENDAMENTO"></td>	
								<td>
									<select class="form-select mt-2" id="AGENDAMENTO" aria-label="Default select example">
										<option value="AGENDAMENTO">AGENDAMENTO</option>
									</select>
								</td>
								<td><input type="text" id="emailAGENDAMENTO" class="form-control mt-2" autocomplete="off"></td>
							</tr>
							<tr>
								<td><input class="form-control mt-2" type="number" name="idABERTURA" id="idABERTURA" style="width: 50px;" readonly></td>
								<td><b>Email para envio automatico na abertura de solicitação</b></td>
								<td><input type="checkbox" name="statusABERTURA" id="statusABERTURA"></td>
								<td>
									<select class="form-select mt-2" id="ABERTURA" aria-label="Default select example">
										<option value="ABERTURA">ABERTURA</option>
									</select>
								</td>
								<td><input type="text" id="emailABERTURA" class="form-control mt-2" autocomplete="off"></td>
							</tr>
					</tbody>
				</table>
            </div>
            <p style="color: red;">OBS: Para o envio de informativos, é necessário estar ativado e com email preenchido.</p>
            <button class="btn btn-primary btn-sm" onclick="salvarConfiguracaoEmails()">Salvar</button>
            
            <br />
            <hr class="bg-danger border-2 border-top border-danger"><br />
            <div class="container">
	            <h5>Matriz de configurações dos pesos nas solicitações</h5><br />
	            
	            <div class="table-responsive">
					<table class="table table-hover table-bordered align-middle results sortable" id="tabela-peso" style="text-align: center;">
						<thead>
							<tr>
								<th scope="col">ID</th>
								<th scope="col">Tipo</th>
								<th scope="col">Item</th>
								<th scope="col">Peso</th>
								<th scope="col">Ação</th>
							</tr>
						</thead>
						<tbody id="corpoPesoSolicitacoes">
							<tr> </tr>
						</tbody>
					</table>
				
				</div>
				<span style="color: red;"><b>OBS: Configurações autonomas de peso: </b></span>
					<li class="mt-2"> Período de reclassificação de todas as solicitações não finalizadas: A cada 2 minutos.</li>
					<ul>
						<li class="mt-2"> Solictações Aberta: A cada hora em aberto é adicionado uma fração da hora/2.</li>
						<li class="mt-2"> Solictações Agendadas: A cada minuto atrasado em agendado é adicionado uma fração do minuto/2.</li>
					</ul>
            </div>
		<br /><br />
		<footer class="text-center text-white">
			<div class="container-fluid">
				<!-- Grid container -->
			<div class="p-4 pb-0">
				<!-- Section: Social media -->
				<section class="mb-4">
					<a class="btn btn-primary btn-floating m-1" style="background-color: rgb(0,191,255);" href="#!"
							role="button"></a>
						<a class="btn btn-primary btn-floating m-1" style="background-color: rgb(30,144,255);" href="#!"
							role="button"></a>
						<a class="btn btn-primary btn-floating m-1" style="background-color: rgb(65,105,225);" href="#!"
							role="button"></a>
						<a class="btn btn-primary btn-floating m-1" style="background-color: rgb(0,0,255);" href="#!"
							role="button"></a>
						<a class="btn btn-primary btn-floating m-1" style="background-color: rgb(0,0,205);" href="#!"
							role="button"></a>
						<a class="btn btn-primary btn-floating m-1" style="background-color: rgb(0,0,128);" href="#!"
							role="button"></a>
				</section>
				<!-- Section: Social media -->
			</div>
			<!-- Grid container -->

			<!-- Copyright -->
			<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
				© 2024 Copyright:
				<a class="text-white" href="#">TechGold</a>
			</div>
			<!-- Copyright -->
			</footer>
		</footer>
	</div>
	<!-- ############################################ MODAL PASSWORD GENERATOR ########################################## -->
		<div class="modal fade" id="modalPasswordGenerator" tabindex="-1" aria-labelledby="modalPasswordGenerator"
			aria-hidden="true">
			<div class="modal-dialog modal-md">
				<div class="modal-content">
					<div class="container-password">
						<div class="result">
							<div class="result__info right">click para copiar</div>
							<div class="result__info left">copiado</div>
							<div class="result__viewbox" id="result" style="color: aliceblue; "></div>
							<a id="copy-btn" style="--x: 0; --y: 0"><i class="far fa-copy"></i></a>
						</div>
						<div class="length range__slider" data-min="4" data-max="32">
							<div class="length__title field-title" data-length='0'>Tamanho:</div>
							<input id="slider" type="range" min="4" max="32" value="16" />
						</div>
						<div class="settings">
							<span class="settings__title field-title">configurações</span>
							<div class="setting">
								<input type="checkbox" id="uppercase" checked />
								<label for="uppercase">Incluir Maiúsculo</label>
							</div>
							<div class="setting">
								<input type="checkbox" id="lowercase" checked />
								<label for="lowercase">Incluir Minúsculo</label>
							</div>
							<div class="setting">
								<input type="checkbox" id="number" checked />
								<label for="number">Incluir Número</label>
							</div>
							<div class="setting">
								<input type="checkbox" id="symbol" />
								<label for="symbol">Incluir Símbolo</label>
							</div>
						</div>
						<button class="btn generate" id="generate">Gerar Senha</button>
					</div>
				</div>
			</div>
		</div>
	<!-- ############################################ MODAL PASSWORD GENERATOR ########################################## -->
	<script src="assets/js/jquery-3.6.3.js"></script>
	<script src="assets/js/popper.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/password-generator.js"></script>
	<script>
		listarPesosSolicitacoes();
		
		function salvarPeso(id){
			var idPeso = id;
			var peso = $('#peso'+id).val();
			
			$.ajax({
				type: "PUT",
				contentType: "application/json",
				url: "/sistech/api/v1/pesosolicitacoes",
				data: JSON.stringify(
						{
							"id": idPeso,
							"peso":peso
						}
					),
				success: function (data) { alert("Peso atualizados com sucesso!"); },
				error: function (e) { alert(e);	}
			});
		}
		
		function listarPesosSolicitacoes(){
			$.ajax({
			type: "GET",
			contentType: "application/json",
			url: "/sistech/api/v1/pesosolicitacoes",
			success: function (data) {
				
				data.map(i => {
					var itens = 
					'<tr id=linha' + i.id + '>'
					+ '<td id=name' + i.id + '>' + i.id + '</td>'
					+ '<td>' + i.tipo + '</td>'
					+ '<td>' + i.item + '</td>'
					+ '<td style="width: 90px;"><input class="form-control" type="number" min="0" max="5" name="peso'+ i.id+'" id="peso'+i.id+'" style="width: 70px; text-align: center;" value="' + i.peso +'"></td>'
					+ '<td><button class="btn btn-success btn-sm" onclick="salvarPeso('+ i.id +')">Salvar</button></td>'
					+ '</tr>'
					$('#tabela-peso').append(itens);
					}
				);
			},
			statusCode: {
				    500: function() { alert('Erro! Contate o desenvolvedor!'); },
				    401: function() { alert('Realize login novamente!'); }
			}
			});
		}
		
		$.ajax({
			type: "GET",
			contentType: "application/json",
			url: "/sistech/sistema/configuracao/email",
			success: function (data) {
				
				data.map(i => {
					if(i.status == true){
						document.getElementById("status"+i.agendamento).checked=true;					
					}else{
						document.getElementById("status"+i.agendamento).checked=false;
					}
					
					document.getElementById("email"+i.agendamento).value = i.email;
					document.getElementById("id"+i.agendamento).value = i.id;
				});
			},
			error: function (e) { alert(e); }
		});
		
		$.ajax({
			type: "GET",
			contentType: "application/json",
			url: "/sistech/sistema/configuracao/paises",
			success: function (data) {
				
				data.map(i => {
					if(i.status == true){
						document.getElementById(i.pais).checked=true;					
					}else{
						document.getElementById(i.pais).checked=false;
					}
				});
			},
			error: function (e) { alert(e); }
		});
		
		function salvarPaisesPermitidos(){
			const br = document.getElementById("BR");
			const us = document.getElementById("US");
			const pt = document.getElementById("PT");
			const ca = document.getElementById("CA");
			const fr = document.getElementById("FR");
			const cl = document.getElementById("CL");
			
			var paises = [];
			
			if(br.checked == true){ paises[paises.length]="BR";}
			if(us.checked == true){ paises[paises.length]="US";}
			if(pt.checked == true){ paises[paises.length]="PT";}
			if(ca.checked == true){ paises[paises.length]="CA";}
			if(fr.checked == true){ paises[paises.length]="FR";}
			if(cl.checked == true){ paises[paises.length]="CL";}
			
			if(br.checked != false){
				$.ajax({
					type: "POST",
					contentType: "application/json",
					url: "/sistech/sistema/configuracao/paises",
					data: JSON.stringify(
						{ "paises": paises }
					),
					success: function (data) { alert("Países atualizados com sucesso!");	},
					error: function (e) { alert(e); }
				});
			}else{ alert("Desabilitar BR impossibilitará seu acesso!"); }
		}
		
		function salvarConfiguracaoEmails(){
			var statusAgendamento = document.getElementById("statusAGENDAMENTO");
			var statusAbertura = document.getElementById("statusABERTURA");
			var funcaoAgendamento = document.getElementById("AGENDAMENTO").value;
			var funcaoAbertura = document.getElementById("ABERTURA").value;
			var emailAgendamento = document.getElementById("emailAGENDAMENTO").value;
			var emailAbertura = document.getElementById("emailABERTURA").value;
			var idAbertura = document.getElementById("idABERTURA").value;
			var idAgendamento = document.getElementById("idAGENDAMENTO").value;
			var agendamento;
			var abertura;
			if(statusAgendamento.checked){ agendamento=true } else { agendamento=false }
			if(statusAbertura.checked){ abertura=true; } else { abertura=false }

			$.ajax({
				type: "PUT",
				contentType: "application/json",
				url: "/sistech/sistema/configuracao/email",
				data: JSON.stringify(
						[{
							"id": idAgendamento,
							"agendamento":funcaoAgendamento,
							"email":emailAgendamento,
							"status":agendamento
						},{
							"id": idAbertura,
							"agendamento":funcaoAbertura,
							"email":emailAbertura,
							"status":abertura
						}]
					),
				success: function (data) { alert("Emails atualizados com sucesso!"); },
				error: function (e) { alert(e);	}
			});
		}
	</script>
</body>
</html>