<!DOCTYPE html>
<html lang="br">
<html>
<head>
	<meta charset="UTF-8">
	<title>Sistech - Logs</title>
	<link rel="shortcut icon" href="assets/img/favicon.ico">
	<link rel="stylesheet" href="assets/css/defaultStyle.css">
	<link rel="stylesheet" href="assets/css/bootstrap.min.css" >
	<link rel="stylesheet" href="assets/css/password-generator.css">
	<link rel="stylesheet" href="assets/css/bootstrap-icons.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<style>
		body{
		  padding:20px 20px;
		}
		
		.results tr[visible='false'],
		.no-result{
		  display:none;
		}
		
		.results tr[visible='true']{
		  display:table-row;
		}
		
		.counter{
		  padding:8px; 
		  color:#ccc;
		}
	</style>
</head>

<body>
	<div class="container-fluid">
		<!-- ###################################### BARRA DE NAVEGAÇÃO ###################################### -->
		<nav class="navbar navbar-expand-lg bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="/sistech/home"><img src="./assets/img/key.png" style="height: 18px;"> SisTech</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="/sistech/home">Início</a>
						</li>
						
							<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
								aria-expanded="false">
								Solicitações
							</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="/sistech/solicitacao/form">Novo</a></li>
								<li><a class="dropdown-item" href="/sistech/solicitacao/list">Listar</a></li>
								<li>
									<hr class="dropdown-divider">
								</li>
									<li><a class="dropdown-item" href="/sistech/solicitacao/modelos">Modelos</a></li>	
								<li>
									<hr class="dropdown-divider">
								</li>
								<li><a class="dropdown-item" href="/sistech/solicitacao/relatorios">Relatórios</a></li>
							</ul>
						</li>
						
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
								aria-expanded="false">
								Clientes
							</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="/sistech/cliente/list">Listar</a></li>
								<li><a class="dropdown-item" href="/sistech/cliente/form">Novo</a></li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
								aria-expanded="false">
								Funcionarios
							</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="/sistech/funcionario/list">Listar</a></li>
								<li><a class="dropdown-item" href="/sistech/funcionario/form">Novo</a></li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
								aria-expanded="false">
								Dashboard
							</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="/sistech/solicitacao/dashboard/geral">Solicitações ativas</a></li>
								<li><a class="dropdown-item" href="/sistech/solicitacao/dashboard/funcionario">Funcionario</a></li>
								<li><a class="dropdown-item" href="/sistech/solicitacao/dashboard/cliente">Cliente</a></li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Ferramentas</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modalPasswordGenerator">Password Generator</a></li>
								<li><a class="dropdown-item" href="/sistech/avisos">Avisos</a></li>
							</ul>
						</li>
					</ul>
					<ul class="navbar-nav mb-3 mb-lg-0">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" id="perfil" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="/sistech/funcionario/perfil">Perfil</a></li>
								<li>
									<hr class="dropdown-divider">
								</li>
								<li><a class="dropdown-item" href="/sistech/logAcesso">Logs Acesso</a></li>
								<li><a class="dropdown-item" href="/sistech/configuracoes">Configurações</a></li><li>
								<li>
									<hr class="dropdown-divider">
								</li>
								<li><a class="dropdown-item" href="/sistech/sobre">Sobre</a></li>
							</ul>
						</li>
							<a href="/sistech/logout">
								<i class="bi bi-power"style="font-size: 2rem; color: red;"> </i>
							</a>
					</ul>
				</div>
			</div>
		</nav>
		<!-- ###################################### BARRA DE NAVEGAÇÃO ###################################### -->
		<hr class="bg-danger border-2 border-top border-danger">

		<div class="container-fluid">
		  <div class="row">
		    <div class="col">
		    </div>
		    <div class="col">
		    </div>
		    <div class="col">
				<div class="form-group pull-right">
		    		<input type="text" class="search form-control" placeholder="Busca">
				</div>
				<span class="counter pull-right"> </span>
		    </div>
		  </div>
		</div>
		
		<div class="table-responsive">
			<table class="table table-hover table-striped table-bordered results" id="tabela-usuarios" style="text-align: center;">
			<thead>
				<tr>
					<th scope="col">Data de Login</th>
					<th scope="col">Usuário</th>
					<th scope="col">IP Usuário</th>
					<th scope="col">Hostname</th>
					<th scope="col">IP Servidor</th>
					<th scope="col">Hostname</th>
					<th scope="col">País</th>
					<th scope="col">URI</th>
					<th scope="col">Browser</th>
					<th scope="col">Status</th>
					<th scope="col">Descrição</th>
				</tr>
			</thead>
			<tbody id="corpoLogs">
				<tr> </tr>
			</tbody>
			</table>
		</div>

		<br /><br />
		<footer class="text-center text-white">
			<div class="container-fluid">
				<!-- Grid container -->
			<div class="p-4 pb-0">
				<!-- Section: Social media -->
				<section class="mb-4">
					<a class="btn btn-primary btn-floating m-1" style="background-color: rgb(0,191,255);" href="#!"
							role="button"></a>
						<a class="btn btn-primary btn-floating m-1" style="background-color: rgb(30,144,255);" href="#!"
							role="button"></a>
						<a class="btn btn-primary btn-floating m-1" style="background-color: rgb(65,105,225);" href="#!"
							role="button"></a>
						<a class="btn btn-primary btn-floating m-1" style="background-color: rgb(0,0,255);" href="#!"
							role="button"></a>
						<a class="btn btn-primary btn-floating m-1" style="background-color: rgb(0,0,205);" href="#!"
							role="button"></a>
						<a class="btn btn-primary btn-floating m-1" style="background-color: rgb(0,0,128);" href="#!"
							role="button"></a>
				</section>
				<!-- Section: Social media -->
			</div>
			<!-- Grid container -->

			<!-- Copyright -->
			<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
				© 2024 Copyright:
				<a class="text-white" href="#">TechGold</a>
			</div>
			<!-- Copyright -->
			</footer>
		</footer>
		<!-- ############################################ MODAL PASSWORD GENERATOR ########################################## -->
		<div class="modal fade" id="modalPasswordGenerator" tabindex="-1" aria-labelledby="modalPasswordGenerator"
			aria-hidden="true">
			<div class="modal-dialog modal-md">
				<div class="modal-content">
					<div class="container-password">
						<div class="result">
							<div class="result__info right">click para copiar</div>
							<div class="result__info left">copiado</div>
							<div class="result__viewbox" id="result" style="color: aliceblue; "></div>
							<a id="copy-btn" style="--x: 0; --y: 0"><i class="far fa-copy"></i></a>
						</div>
						<div class="length range__slider" data-min="4" data-max="32">
							<div class="length__title field-title" data-length='0'>Tamanho:</div>
							<input id="slider" type="range" min="4" max="32" value="16" />
						</div>
						<div class="settings">
							<span class="settings__title field-title">configurações</span>
							<div class="setting">
								<input type="checkbox" id="uppercase" checked />
								<label for="uppercase">Incluir Maiúsculo</label>
							</div>
							<div class="setting">
								<input type="checkbox" id="lowercase" checked />
								<label for="lowercase">Incluir Minúsculo</label>
							</div>
							<div class="setting">
								<input type="checkbox" id="number" checked />
								<label for="number">Incluir Número</label>
							</div>
							<div class="setting">
								<input type="checkbox" id="symbol" />
								<label for="symbol">Incluir Símbolo</label>
							</div>
						</div>
						<button class="btn generate" id="generate">Gerar Senha</button>
					</div>
				</div>
			</div>
		</div>
	<!-- ############################################ MODAL PASSWORD GENERATOR ########################################## -->
	</div>
	<script src="assets/js/jquery-3.6.3.js"></script>
	<script src="assets/js/popper.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/password-generator.js"></script>
	<script>
		$.ajax({
			type: "GET",
			contentType: "application/json",
			url: "/sistech/sistema/logs",
			success: function (data) {
				
				data.map(i => {
					var itens =
					'<tr id=linha' + i.id + '>'
					+ '<td id=name' + i.id + '>' + i.dataLogin + '</td>'
					+ '<td>' + i.usuario + '</td>'
					+ '<td>' + i.ip + '</td>'
					+ '<td>' + i.hostname + '</td>'
					+ '<td>' + i.enderecoServer+ '</td>'
					+ '<td>' + i.nomeLocal + '</td>'
					+ '<td>' + i.pais + '</td>'
					+ '<td>' + i.uri + '</td>'
					+ '<td>' + i.browser + '</td>'
					+ '<td>' + i.status + '</td>'
					+ '<td>' + i.descricao + '</td>'
					+ '</tr>'
				$('#tabela-usuarios').append(itens);
				});
			},
			error: function (e) { alert(e); }
		});
	</script>
	<script>
		$(document).ready(function() {
		  $(".search").keyup(function () {
		    var searchTerm = $(".search").val();
		    var listItem = $('.results tbody').children('tr');
		    var searchSplit = searchTerm.replace(/ /g, "'):containsi('")
		    
		  $.extend($.expr[':'], {'containsi': function(elem, i, match, array){
		        return (elem.textContent || elem.innerText || '').toLowerCase().indexOf((match[3] || "").toLowerCase()) >= 0;
		    }
		  });
		    
		  $(".results tbody tr").not(":containsi('" + searchSplit + "')").each(function(e){
		    $(this).attr('visible','false');
		  });
		
		  $(".results tbody tr:containsi('" + searchSplit + "')").each(function(e){
		    $(this).attr('visible','true');
		  });
		
		  var jobCount = $('.results tbody tr[visible="true"]').length;
		    $('.counter').text(jobCount + ' item');
		
		  if(jobCount == '0') {$('.no-result').show();}
		    else {$('.no-result').hide();}
				  });
		});
	</script>
</body>
</html>