<nav class="navbar navbar-expand-lg bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="/sistech/home"><img src="./assets/img/key.png" style="height: 18px;"> SisTech</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item"><a class="nav-link active" aria-current="page" href="/sistech/home">Início</a></li>
					<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Solicitações</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="/sistech/solicitacao/form">Novo</a></li>
						<li><a class="dropdown-item" href="/sistech/solicitacao/list">Listar</a></li>
						<li><hr class="dropdown-divider"></li>
						<li><a class="dropdown-item" href="/sistech/solicitacao/modelos">Modelos</a></li>	
						<li><hr class="dropdown-divider"></li>
						<li><a class="dropdown-item" href="/sistech/solicitacao/relatorios">Relatórios</a></li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Clientes</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="/sistech/cliente/list">Listar</a></li>
						<li><a class="dropdown-item" href="/sistech/cliente/form">Novo</a></li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Funcionarios</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="/sistech/funcionario/list">Listar</a></li>
						<li><a class="dropdown-item" href="/sistech/funcionario/form">Novo</a></li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Dashboard</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="/dashboard/inicio" target="_blank" style="color: brown; font-weight: bold;">Realtime <i class="bi bi-speedometer2"></i></a></li>
						<li><a class="dropdown-item" href="/sistech/solicitacao/dashboard/geral">Solicitações ativas</a></li>
						<li><a class="dropdown-item" href="/sistech/solicitacao/dashboard/funcionario">Funcionario</a></li>
						<li><a class="dropdown-item" href="/sistech/solicitacao/dashboard/cliente">Cliente</a></li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Ferramentas</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modalPasswordGenerator">Password Generator</a></li>
						<li><a class="dropdown-item" href="/sistech/avisos">Avisos</a></li>
						<li><a class="dropdown-item" href="/sistech/calendario">Calendário</a></li>
					</ul>
				</li>
			</ul>
			<span class="nav-item">
				  <button class="btn btn-sm btn-outline-secondary" onclick="toggleDarkMode()" id="toggleDarkBtn">
				    <i class="bi bi-moon"></i> Modo Escuro
				  </button>
				</span>
				&nbsp; &nbsp; &nbsp; &nbsp;
			<ul class="navbar-nav mb-3 mb-lg-0">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="perfil" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="/sistech/funcionario/perfil">Perfil</a></li>
						<li><hr class="dropdown-divider"></li>
						<li><a class="dropdown-item" href="/sistech/gerencia">Gerência</a></li>
						<li><a class="dropdown-item" href="/sistech/configuracoes">Configurações</a></li><li>
						<li><hr class="dropdown-divider"></li>
						<li><a class="dropdown-item" href="/sistech/sobre">Sobre</a></li>
					</ul>
				</li>
					<a href="/sistech/logout"><i class="bi bi-power"style="font-size: 2rem; color: red;"></i></a>
			</ul>
		</div>
	</div>
</nav>
